.banner {
    background-image: url(https://b2ccdn.sunmar.ru/content/landing-pages/our-advantages/kv-mob.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 100%;
    height: 520px;
}

@media (min-width: 768px) {
    .banner {
        background-image: url(https://b2ccdn.sunmar.ru/content/landing-pages/our-advantages/kv-tablet.webp);
    }
}

@media (min-width: 1024px) {
    .banner {
        background-image: url(https://b2ccdn.sunmar.ru/content/landing-pages/our-advantages/kv.webp);
    }
}


.banner__content {
    flex-direction: column;
    height: 100%;
    padding-block: 32px;
    padding-inline: 24px;
    display: flex;
    gap: 24px;
}

@media (min-width: 768px) {
    .banner__content {
        padding-inline: 32px;
    }
}

@media (min-width: 1024px) {
    .banner__content {
        justify-content: center;
        padding-inline: 56px;
    }
}
