.cards-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    border-radius: 16px;
    background: #F8F8F8;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.card .icon {
    flex: 0 0 90px;
}

@media (min-width: 768px) {
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: calc(50% - 16px);
        flex-direction: column-reverse;
        text-align: center;
    }

    .card:last-child {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .card {
        width: calc(33.3% - 12px);
    }

    .card:nth-last-child(-n+2) {
        width: calc(50% - 12px);
    }
}

@media (min-width: 1440px) {
    .card {
        flex-direction: row;
    }
}
