.mb-24 {
    margin-bottom: 24px
}

.mb-16 {
    margin-bottom: 16px
}

.mb-8 {
    margin-bottom: 8px
}

.mb-4 {
    margin-bottom: 4px
}

.mt-24 {
    margin-top: 24px;
}

.mt-16 {
    margin-top: 16px
}

.mt-8 {
    margin-top: 8px
}

.mb-40 {
    margin-bottom: 40px
}

.m-0 {
    margin: 0;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0
}

section.sunmar {
    padding-inline: 16px;
    padding-block: 32px;
}

@media (min-width: 768px) {
    section.sunmar {
        padding-inline: unset;
    }
}

.sunmar .banner__title {
    color: #21366A;
    font-size: 32px !important;
    font-weight: 300 !important;
    line-height: 36px !important;
    margin: 0;
}

@media (min-width: 768px) {
    .sunmar .banner__title {
        font-size: 40px !important;
        line-height: 44px !important;
    }
}

@media (min-width: 768px) {
    .sunmar .banner__title {
        font-size: 56px !important;
        line-height: 60px !important;
    }
}

.sunmar .banner__subtitle {
    color: #21366A;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400 !important;
}


@media (min-width: 768px) {
    .sunmar .banner__subtitle {
        font-size: 20px;
        line-height: 28px;
    }
}

.sunmar .banner__button {
    color: #fff;
    background: linear-gradient(245deg, #d8242a 15.84%, #e7317d 84.16%);
    border: 1px solid transparent;
    border-radius: 48px;
    align-items: center;
    width: fit-content;
    height: 48px;
    margin-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    display: flex
}

.sunmar .banner__button:hover {
    background: linear-gradient(90deg, #d8242a 15.84%, #e7317d 84.16%)
}

.sunmar .title-2 {
    font-size: 40px !important;
    font-weight: 600 !important;
    line-height: 44px !important
}

@media screen and (max-width: 768px) {
    .sunmar .title-2 {
        font-size: 32px !important;
        line-height: 36px !important
    }
}

.sunmar .title-4 {
    font-size: 28px;
    line-height: 32px
}

.sunmar .title-5 {
    font-size: 24px;
    line-height: 28px
}

.sunmar .slider__pagination.swiper-pagination.swiper-pagination-horizontal {
    bottom: 0
}

.sunmar .slider__pagination.swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: #afafaf;
    width: 10px;
    height: 10px
}

.sunmar .slider__pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #0e2855
}

@media screen and (max-width: 428px) {
    .sunmar .wrapper:has(.banner) {
        padding-left: 0;
        padding-right: 0
    }
}

a.sunmar-button {
    color: #fff;
    background: linear-gradient(245deg, #d8242a 15.84%, #e7317d 84.16%);
    border-radius: 48px;
    align-items: center;
    width: fit-content;
    height: 48px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    text-decoration: none;
    display: flex
}

a.sunmar-button:hover {
    background: linear-gradient(90deg, #d8242a 15.84%, #e7317d 84.16%)
}

a.sunmar-button--white {
    color: inherit;
    background: #fff;
    border: 1px solid #d8242a
}

a.sunmar-button--white:hover {
    color: #fff
}

a.sunmar-button--navy {
    background: #21366A;
}

a.sunmar-button--navy:hover {
    background: #12336C;
}

.bg-white {
    background-color: #fff
}

.bg-grey {
    background-color: #f5f5f8
}

.slider.swiper:not(:has(.swiper-pagination-lock)) {
    padding-bottom: 24px
}

section > article {
    max-width: 1528px;
    margin: auto
}


section:has(.banner.banner--text) .wrapper {
    padding-bottom: 40px
}


.text {
    font-size: 16px;
    line-height: 24px
}

.text-center {
    text-align: center
}

.flex-center {
    display: flex;
    justify-content: center;
}

.font-bold {
    font-weight: 600;
}
